<div class="col-lg-12 col-md-12  " style="padding: 0px!important">
  <app-breadcrumb [breadcrumbList]="breadcrumbList" ></app-breadcrumb>
  <div class="w3-block material-shadow safe-box w3-display-container alert alert-warning">
    <ul  >
      <li>
        1	=>	{{ "prepare" | trans }}
      </li>
      <li>
        2	=> 	{{ "delivered" | trans }}
      </li>
      <li>
        3	=>	{{ "return_paid" | trans }}
      </li>
      <li>
        4	=>	{{ "return_non_paid" | trans }}
      </li>
      <li>
        5	=>	{{ "closed" | trans }}
      </li>
      <li>
        6	=>	{{ "out for delivery" | trans }}
      </li>
      <li>
        7	=>	{{ "collected" | trans }}
      </li>
      <li>
        8	=>	{{ "paid_to_customer" | trans }}
      </li>
    </ul>
  </div>
<div class="w3-block material-shadow safe-box w3-white w3-display-container" style="padding: 0px!important" >

  <div class="w3-block w3-padding w3-display-topright"   >
    <button
    style="margin: 5px;padding: 7px"
      class="w3-round w3-button material-shadow btn-sm w3-red"
      (click)="removeSelected()"
      *ngIf="canRemove && selectedResources.size() > 0"  >
      {{ "remove selected" | trans }} <i class="fa fa-trash"></i>
    </button>

    <button
    style="margin: 5px;padding: 7px"
    (click)="excel()"
      class="w3-round w3-button material-shadow btn-sm w3-green"  >
      {{ "excel" | trans }} <i class="fa fa-file-excel-o"></i>
    </button>

    <button
    style="margin: 5px;padding: 7px"
    (click)="pdf()"
      class="w3-round w3-button material-shadow btn-sm w3-orange"  >
      {{ "pdf" | trans }} <i class="fa fa-file-pdf-o"></i>
    </button>

    <button
    style="margin: 5px;padding: 7px"
    (click)="print()"
      class="w3-round w3-button material-shadow btn-sm w3-dark-gray"  >
      {{ "print" | trans }} <i class="fa fa-print"></i>
    </button>

    <button
    style="margin: 5px;padding: 7px"
    (click)="import()"
      class="w3-round w3-button material-shadow btn-sm w3-green"  >
      {{ "import from excel" | trans }} <i class="fa fa-upload"></i>
    </button>

    <button
    style="margin: 5px;padding: 7px"
    (click)="this.toggleOption()"
      class="w3-round w3-button material-shadow btn-sm w3-purple"   >
      <i class="fa {{ moreOptionShow? 'fa-circle-o' : 'fa-circle' }}"></i> {{ "more options" | trans }}
    </button>

    <button
    style="margin: 5px;padding: 7px"
    (click)="this.create()"
      class="w3-round w3-button material-shadow btn-sm w3-indigo"   >
      <i class="fa fa-plus"></i> {{ "add" | trans }}
    </button>
  </div>


  <div class="w3-padding w3-display-topright"    >
    <input type="text" [(ngModel)]="filter.search" class="form-control w3-round" placeholder="{{ 'search' | trans }}" >
  </div>

  <div class="text-center w3-padding">
    <b>
      {{ title | trans }}
    </b>
    <br>
    <br>
  </div>

  <div class="table-responsive">
    <table class="excel-table table-bordered text-center text-center" id="printable" >

      <tr class="w3-light-gray" >
        <th class="w3-padding" >{{ "#" | trans }}</th>
        <th class="w3-padding" >{{ "id" | trans }}</th>
        <th class="w3-padding" >{{ "name" | trans }}</th>
        <th class="w3-padding" >{{ "status_code" | trans }}</th>
        <th class="w3-padding more-option" >{{ "sms" | trans }}</th>
        <th class="w3-padding more-option" >{{ "is_collection" | trans }}</th>
        <th class="w3-padding" >{{ "type" | trans }}</th>
        <th class="w3-padding" >{{ "steper" | trans }}</th>
        <th class="w3-padding" >{{ "remove"| trans }}</th>
      </tr>
      <tr *ngIf="loading"  >
        <td class="w3-text-indigo text-center" colspan="13" >
          <i class="fa fa-spin fa-spinner"></i>
        </td>
      </tr>
      <ng-container *ngFor="let item of data index as i" >
        <tr  *ngIf=" search(item)"
        class="{{ this.selectedResources.has(item.id)? 'w3-pale-red' : '' }}" >
          <td>
            <div class="w3-center text-center hidden" >
              <mat-slide-toggle
              [checked]="selectedResources.has(item.id)"
              (change)="toggle(item)"
              ></mat-slide-toggle>
            </div>
            <mat-checkbox
            [checked]="selectedResources.has(item.id)"
            (change)="toggle(item)"></mat-checkbox>
          </td>
          <td>
            <input
            type="text"
            class="w3-block w3-border-0  text-center"
            readonly
            [(ngModel)]="item.id"  >
            <span style="display: none;" >{{ item.id }}</span>
          </td>
          <td>
            <input
            type="text"
            style="min-width: 200px;"
            class="w3-block w3-border-0 text-center"
            (change)="send(item)"
            [readOnly]="item.id && !canEdit || !item.id && !canAdd"
            [(ngModel)]="item.name" >
            <span style="display: none;" >{{ item.name }}</span>
          </td>
          <td>
            <input
            type="number"
            style="min-width: 200px;"
            class="w3-block w3-border-0 text-center"
            (change)="send(item)"
            [readOnly]="item.id && !canEdit || !item.id && !canAdd"
            [(ngModel)]="item.code" >
            <span style="display: none;" >{{ item.code }}</span>
          </td>
          <td class="more-option" >
            <input
            type="text"
            style="min-width: 200px;"
            class="w3-block w3-border-0 text-center"
            (change)="send(item)"
            [readOnly]="item.id && !canEdit || !item.id && !canAdd"
            [(ngModel)]="item.sms" >
            <span style="display: none;" >{{ item.sms }}</span>
          </td>
          <td class="more-option" >
            <mat-checkbox
            (change)="send(item)"
            [disabled]="item.id && !canEdit || !item.id && !canAdd"
            [(ngModel)]="item.is_final"
            ></mat-checkbox>
            <span style="display: none;" >{{ item.is_final }}</span>
          </td>
          <td>
            <select
            style="min-width: 100px;"
            class="w3-block w3-border-0 text-center"
            (change)="send(item)"
            [disabled]="item.id && !canEdit || !item.id && !canAdd"
            [(ngModel)]="item.type">
              <option *ngFor="let row of types" value="{{ row }}">{{ row }}</option>
            </select>
            <span style="display: none;" >{{ item.type }}</span>
          </td>
          <td>
            <select
            style="min-width: 100px;"
            class="w3-block w3-border-0 text-center"
            (change)="send(item)"
            [disabled]="item.id && !canEdit || !item.id && !canAdd"
            [(ngModel)]="item.steper">
              <option *ngFor="let row of steper" value="{{ row }}">{{ row }}</option>
            </select>
            <span style="display: none;" >{{ item.steper }}</span>
          </td>
          <td>
            <button
            class="fa fa-trash w3-button"
            *ngIf="canRemove && item.id"  (click)="destroy(item, i)" ></button>
          </td>
        </tr>
      </ng-container>

    </table>
  </div>
</div>
<br>
<button mat-raised-button  class="w3-indigo" *ngIf="canAdd" (click)="create()" >
  <i class="fa fa-plus"></i>
</button>

</div>

<app-import-excel [title]="title" [templateUrl]="getExcelFileUrl()" [apiUrl]="getExcelFileApi()" [action]="reload" ></app-import-excel>
