

.header-image {
    background-image: url(/assets/img/header_call_center.png);
    background-size: 100% 100%;
    height: 100px;
    background-repeat: no-repeat;
}

.ng-autocomplete {
  width: auto;
}
