<app-breadcrumb [breadcrumbList]="breadcrumbList"></app-breadcrumb>

<br>
<div class="row">
  <div class="col-md-3">
    <a (click)="create()" class="btn btn-primary btn-block margin-bottom material-shadow" >{{ "Compose" | trans }}</a>

    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">{{ "Folders" | trans }}</h3>

        <div class="box-tools">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="box-body no-padding">
        <ul class="nav nav-pills nav-stacked">
          <li class="active"  (click)="inbox()"><a  ><i class="fa fa-inbox"></i> {{ "Inbox" | trans }}
            <span class="label label-primary pull-right">{{ filter.type == 'inbox'? data.length : 0 }}</span></a></li>
          <li (click)="sent()" ><a ><i class="fa fa-envelope-o"></i> {{ "Sent" | trans }}</a></li>
          <li (click)="trash()"><a ><i class="fa fa-trash-o"></i> {{ "Trash" | trans }}</a></li>
        </ul>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /. box -->
    <div class="box box-solid hidden">
      <div class="box-header with-border">
        <h3 class="box-title">Labels</h3>

        <div class="box-tools">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="box-body no-padding">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#"><i class="fa fa-circle-o text-red"></i> Important</a></li>
          <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> Promotions</a></li>
          <li><a href="#"><i class="fa fa-circle-o text-light-blue"></i> Social</a></li>
        </ul>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
  <div class="col-md-9">
    <div class="box box-primary" class="w3-block material-shadow safe-box w3-white w3-display-container" style="padding: 0px!important" >
      <div class="box-header with-border">
        <h3 class="box-title">Inbox</h3>

        <div class="box-tools pull-right">
          <div class="has-feedback">
            <input type="text" class="form-control input-sm" [(ngModel)]="filter.search" (change)="get(true)" placeholder="Search Mail">
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
          </div>
        </div>
        <!-- /.box-tools -->
      </div>
      <!-- /.box-header -->
      <div class="box-body no-padding">
        <div class="mailbox-controls">
          <div class="row filter">

            <div class="col-lg-3 col-md-3">
              <label>{{ 'search' | trans }}</label>
              <br>
              <input type="text" [(ngModel)]="filter.search" (change)="get(true)" class="form-control w3-round input-sm"
                placeholder="{{ 'search' | trans }}">
            </div>
          </div>
        </div>
        <div class="table-responsive mailbox-messages" >
          <app-table [crud]="this"></app-table>
          <!-- /.table -->
        </div>
        <!-- /.mail-box-messages -->
      </div>
      <!-- /.box-body -->
      <div class="box-footer no-padding">
        <div class="mailbox-controls">

        </div>
      </div>
    </div>
    <!-- /. box -->
  </div>
  <!-- /.col -->
</div>


<app-mailbox-form [action]="reload" [resource]="resource" ></app-mailbox-form>
