<div class="col-lg-12 col-md-12  " style="padding: 0px!important">
  <app-breadcrumb [breadcrumbList]="breadcrumbList" ></app-breadcrumb>


  <div class="row">

    <div class="col-lg-4">
      <label>{{ 'search' | trans }}</label>
      <br>
      <input type="text"
      [(ngModel)]="filter.search"
      class="form-control input-sm w3-block"
      style="border-radius: 8px;"
      placeholder="{{ 'search' | trans }}" >
    </div>

    <div class="col-lg-4">
      <label>{{ 'filter with courier' | trans }}</label>
      <br>
      <select
      class="form-control input-sm w3-block"
      (change)="get(true)"
      style="border-radius: 8px;"
        [(ngModel)]="filter.courier_id" >
        <option value="">{{ "select all" | trans }}</option>
        <option *ngFor="let row of couriers" value="{{ row.id }}">{{ row.name }}</option>
      </select>
    </div>

  </div>
  <br>

<div class="w3-block material-shadow safe-box w3-white w3-display-container" style="padding: 0px!important" >
  <div class="w3-block w3-padding w3-display-topright"   >
    <button
    style="margin: 5px;padding: 7px"
      class="w3-round w3-button material-shadow btn-sm w3-red"
      (click)="removeSelected()"
      *ngIf="canRemove && selectedResources.size() > 0"  >
      {{ "remove selected" | trans }} <i class="fa fa-trash"></i>
    </button>

    <button
    style="margin: 5px;padding: 7px"
    (click)="excel()"
      class="w3-round w3-button material-shadow btn-sm w3-green"  >
      {{ "excel" | trans }} <i class="fa fa-file-excel-o"></i>
    </button>

    <button
    style="margin: 5px;padding: 7px"
    (click)="pdf()"
      class="w3-round w3-button material-shadow btn-sm w3-orange"  >
      {{ "pdf" | trans }} <i class="fa fa-file-pdf-o"></i>
    </button>

    <button
    style="margin: 5px;padding: 7px"
    (click)="print()"
      class="w3-round w3-button material-shadow btn-sm w3-dark-gray"  >
      {{ "print" | trans }} <i class="fa fa-print"></i>
    </button>

    <button
    style="margin: 5px;padding: 7px"
    (click)="import()"
      class="w3-round w3-button material-shadow btn-sm w3-green"  >
      {{ "import from excel" | trans }} <i class="fa fa-upload"></i>
    </button>

    <button
    style="margin: 5px;padding: 7px"
    (click)="this.create()"
      class="w3-round w3-button material-shadow btn-sm w3-indigo"   >
      <i class="fa fa-plus"></i> {{ "add" | trans }}
    </button>

  </div>

  <div class="text-center w3-padding">
    <b>
      {{ title | trans }}
    </b>
    <br>
    <br>
  </div>

  <table class="excel-table table-bordered text-center text-center" id="printable" >

    <tr class="w3-light-gray" >
      <th class="w3-padding" >{{ "#" | trans }}</th>
      <th class="w3-padding" >{{ "id" | trans }}</th>
      <th class="w3-padding" >{{ "courier" | trans }}</th>
      <th class="w3-padding" >{{ "date" | trans }}</th>
      <th class="w3-padding" >{{ "discount" | trans }}</th>
      <th class="w3-padding" >{{ "discount_reason" | trans }}</th>
      <th class="w3-padding" >{{ "additional" | trans }}</th>
      <th class="w3-padding" >{{ "additional_reason" | trans }}</th>
      <th class="w3-padding" >{{ "notes" | trans }}</th>
      <th class="w3-padding" >{{ "remove"| trans }}</th>
    </tr>
    <tr *ngIf="loading"  >
      <td class="w3-text-indigo text-center" colspan="3" >
        <i class="fa fa-spin fa-spinner"></i>
      </td>
    </tr>
    <ng-container *ngFor="let item of data index as i" >
      <tr  *ngIf="!loading && search(item)"
      class="{{ this.selectedResources.has(item.id)? 'w3-pale-red' : '' }}" >
        <td>
          <div class="w3-center text-center hidden" >
            <mat-slide-toggle
            [checked]="selectedResources.has(item.id)"
            (change)="toggle(item)"
            ></mat-slide-toggle>
          </div>
          <mat-checkbox
          [checked]="selectedResources.has(item.id)"
          (change)="toggle(item)"></mat-checkbox>
        </td>
        <td>
          <input
          type="text"
          class="w3-block w3-border-0  text-center"
          readonly
          [(ngModel)]="item.id"  >
          <span style="display: none;" >{{ item.id }}</span>
        </td>
        <td>
          <select
            style="min-width: 200px;"
            class="w3-block w3-border-0 text-center"
            (change)="send(item)"
            [disabled]="item.id && !canEdit || !item.id && !canAdd"
            [(ngModel)]="item.courier_id" >
            <option *ngFor="let row of couriers" value="{{ row.id }}">{{ row.name }}</option>
          </select>
          <span style="display: none;" >{{ item.courier? item.courier.name : '' }}</span>
        </td>
        <td>
          <input
          type="date"
          style="min-width: 200px;"
          class="w3-block w3-border-0 text-center"
          (change)="send(item)"
          [readOnly]="item.id && !canEdit || !item.id && !canAdd"
          [(ngModel)]="item.date" >
          <span style="display: none;" >{{ item.date }}</span>
        </td>
        <td>
          <input
          type="number"
          style="min-width: 100px;"
          class="w3-block w3-border-0 text-center"
          (change)="send(item)"
          [readOnly]="item.id && !canEdit || !item.id && !canAdd"
          [(ngModel)]="item.discount" >
          <span style="display: none;" >{{ item.discount }}</span>
        </td>
        <td>
          <select
          style="min-width: 100px;"
          class="w3-block w3-border-0 text-center"
          (change)="send(item)"
          [disabled]="item.id && !canEdit || !item.id && !canAdd"
          [(ngModel)]="item.discount_expense_id" >
          <option *ngFor="let row of expenseTypes" value="{{ row.id }}">{{ row.name }}</option>
          </select>

          <span style="display: none;" >{{ item.discountExpense? item.discountExpense.name : '' }}</span>
        </td>
        <td>
          <input
            type="number"
            style="min-width: 100px;"
            class="w3-block w3-border-0 text-center"
            (change)="send(item)"
            [readOnly]="item.id && !canEdit || !item.id && !canAdd"
            [(ngModel)]="item.additional" >
          <span style="display: none;" >{{ item.additional }}</span>
        </td>
        <td>
          <select
            style="min-width: 100px;"
            class="w3-block w3-border-0 text-center"
            (change)="send(item)"
            [disabled]="item.id && !canEdit || !item.id && !canAdd"
            [(ngModel)]="item.additional_expense_id" >
            <option *ngFor="let row of expenseTypes" value="{{ row.id }}">{{ row.name }}</option>
          </select>

          <span style="display: none;" >{{ item.additionalExpense? item.additionalExpense.name : '' }}</span>
        </td>
        <td>
          <input
          type="text"
          style="min-width: 100px;"
          class="w3-block w3-border-0 text-center"
          (change)="send(item)"
          [readOnly]="item.id && !canEdit || !item.id && !canAdd"
          [(ngModel)]="item.notes" >
          <span style="display: none;" >{{ item.notes }}</span>
        </td>
        <td>
          <button
          class="fa fa-trash w3-button"
          *ngIf="canRemove && item.id"  (click)="destroy(item, i)" ></button>
        </td>
      </tr>
    </ng-container>

  </table>
</div>
<br>
<button mat-raised-button  class="w3-indigo" *ngIf="canAdd" (click)="create()" >
  <i class="fa fa-plus"></i>
</button>

</div>

<app-import-excel [title]="title" [templateUrl]="getExcelFileUrl()" [apiUrl]="getExcelFileApi()" [action]="reload" ></app-import-excel>
