<div class="modal w3-indigo" style="background-color: #161f4f!important;" id="apploading" >

  <div class="w3-display-container" style="margin: auto;top: 30%;max-width: 600px" >
    <div class="w3-block text-center">
      <img [src]="user.company? user.company.logo_url : ''" class="w3-circle material-shadow" width="80px;" height="80px" >
      <br>
      <b>{{ user.company? user.company.name : '' }}</b>
    </div>
    <br>
    <br>
    <div class="truck">
      <span class="cab"></span>
      <span class="smoke"></span>
    </div>
    <hr>
    <div class="w3-large text-center">
      <b>{{ "A Right World Time To Take You On" | trans }}</b>
      <br>
      <br>
      <i class="fa fa-spin fa-spinner" ></i>
    </div>
  </div>

</div>
